.MODAL_STYLES {
  position: fixed;
  top: 20%;
  left: 50%;
  background: #fff;
  padding: 50px;
  z-index: 1000;
  animation-name: modal_animation;
  animation-duration: 1s;
  /* gia na kratiso to positon apo to telefteo animation */
  animation-fill-mode: forwards;
  border-radius: 50px;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2);
  width: calc(100% - 50px);
  max-width: 700px;
}

@keyframes modal_animation {
  from {
    /* to -50% ienai apo to traonslate X gia na einai sto center apo to (-50%,-50%) */
    /* transform: translateY(-100vh); */
    transform: translate(-50%, -100vh);
  }
  to {
    /* transform: translateY(0vh); */
    transform: translate(-50%, 0vh);
  }
}
